#container {
    width: 600px;
    height: 600px;
    background-color: beige;
    display: inline-grid;
    border: 1px black solid;
    margin: 2rem;
    
   
};

#container > div {
    display: contents;
}

.square {
    border: black 1px;
    text-align: center;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    display: block;
}

.hovered {
    background-color: cornflowerblue;
}