#container {
    background-color: beige;
    display: inline-grid;
    border: 1px black solid;
    margin: 2rem;
    grid-template-columns: repeat(16, minmax(0,1fr));
};

#container > div {
    display: contents;
}

.square {
    border: black 1px;
    text-align: center;
    padding: 20px;
}

.hovered {
    background-color: cornflowerblue;
}